* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yekan';
    text-decoration: none;
    outline: none;
}

a {
    color: inherit;
}


@font-face {
    font-family: 'Yekan';
    src: url('../font/Yekan.eot');
    src: url('../font/Yekan.eot?#iefix') format('embedded-opentype'), url('../font/Yekan.woff') format('woff'), url('../font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* direction: rtl; */
}

.navigation {
    position: fixed;
    bottom: 0;
}